h2 {
	font-size: 1.2rem;
	font-weight: 500;
	color: #555;
}


label {
	width: 100%;
}

::ng-deep .p-dropdown {
	width: 100%;

	/* Make the dropdown span 100% of its parent container */
	.p-scroller {
		height: 181px;
	}
}

::ng-deep .p-dropdown-panel {
	max-height: 15rem;
	/* Limit the height of the dropdown options to 15rem */
	overflow-y: auto;
	/* Enable scrolling if the content exceeds 15rem */
}

.collapse {
	display: none;

	&.show {
		display: block;
	}
}

.icon {
	cursor: pointer;

	&.icon-up-open-mini::before {
		content: '\f106';
		/* Icon code for "up" */
	}

	&.icon-down-open-mini::before {
		content: '\f107';
		/* Icon code for "down" */
	}
}

.pi-hourglass {
	color: #1919c1;
}


.btn-primary {
	color: #fff;
    background-color: #079da0 !important;
    border-color: #079da0 !important;
}
