<!-- src/app/pages/.../dispensations-info/dispensations-info.component.html -->
<div class="dialog-body" *ngIf="!loading; else loadingTpl">
  <header class="header">
    <div class="title">
      <div class="meta">
        <span class="status" [ngClass]="{
              'status--available': detail.dispensationStatus === 'AVAILABLE',
              'status--dispensed': detail.dispensationStatus === 'DISPENSED',
              'status--pending':   detail.dispensationStatus === 'PENDING',
              'status--cancel':    detail.dispensationStatus === 'CANCELLED'
            }">
          {{ getStatusLabel(detail.dispensationStatus) }}
        </span>
        <span class="dot"></span>
        <span>{{ detail.dispensationCreatedAt | date:'yyyy-MM-dd HH:mm' }}</span>
      </div>
    </div>

    <!-- ✅ New: Cancel button (<= 60 min since updatedAt/createdAt, and not already cancelled) -->

    <button pButton type="button" label="Cerrar" class="p-button-text" (click)="close()"></button>
  </header>

  <section class="grid" [ngClass]="{
    'back_green': (detail.condvtaId ?? 0) == 11,
    'back_orange': (detail.condvtaId ?? 0) == 12
  }">
    <div class="label">PACIENTE</div>
    <div class="value">
      {{ detail.patientName }} {{ detail.patientLastName }}
      <div class="muted">
        {{ detail.patientDocument | document }}
      </div>
    </div>

    <div class="label">MEDICO</div>
    <div class="value">
      {{ prescription?.medicName }} {{ prescription?.medicLastname }}
      <div class="muted">
        CPJ {{ prescription?.medicCjp }}
      </div>
    </div>

    <div class="label">PRESCRIPCIÓN</div>
    <div class="value">
      <div>{{ prescription?.ampDsc }} {{ prescription?.vmpDsc }}</div>
      <div class="muted" *ngIf="detail.prescriptionSubstanceName">{{ detail.prescriptionSubstanceName }}</div>
    </div>

    <div class="label">MEDICAMENTO</div>
    <div class="value">
      <div>{{ detail.dispensationProductName }}</div>
      <div class="muted" *ngIf="detail.dispensationQty != null">
        Cantidad: {{ detail.dispensationQty }} {{ detail.dispensationQty === 1 ? 'caja' : 'cajas' }}
      </div>
      <div class="muted" *ngIf="detail.dispensationSubstitute">
        Sustitución: {{ ( detail.dispensationSubstitute == "N" ? 'NO': 'SI') }}
      </div>
    </div>

    <div class="label">DISPENSADO POR</div>
    <div class="value">
      {{ detail.pharmacyDispenserName }} {{ detail.pharmacyDispenserLastName }}
      <div class="muted">
        {{ detail.pharmacyDispenserDocument | document }}
      </div>
    </div>
  </section>

  <button type="button" label="DESCARGAR" class="p-button-danger mr-2" icon="pi pi-times"
    (click)="exportDispensationsPDF()">DESCARGAR
  </button>

  <button *ngIf="
  (detail?.dispensationStatus || '').toUpperCase() !== 'CANCEL' &&
  (detail?.dispensationStatus || '').toUpperCase() !== 'CANCELLED' &&
  (Date.now() - Date.parse(detail?.dispensationUpdatedAt ?? detail?.dispensationCreatedAt ?? '')) <= 3600000
" pButton type="button" label="Cancelar" class="p-button-danger mr-2" icon="pi pi-times"
    (click)="cancelDispensation(detail.dispensationId, (detail?.pharmacyDispenserId || ''))">
  </button>

</div>

<ng-template #loadingTpl>
  <div class="loading">Cargando…</div>
</ng-template>