<div class="content-table mt-3">
  <h2>Prescripciones</h2>
  <div class="row g-3">
    <div class="col-3 col-md-6 col-lg-3">
      <label for="rangeDates">{{dateRangeFilter}}</label>
      <p-calendar id="rangeDates" [(ngModel)]="rangeDates" dateFormat="yy-mm-dd" selectionMode="range" [showIcon]="true"
        [readonlyInput]="true" (onSelect)="onDateSelect()" />
      <div style="position: relative;" *ngIf="rangeDates && rangeDates.length === 2 && rangeDates[0] && rangeDates[1]">
        <span class="reset-data" (click)="resetFunctionRangeDates()">X</span>
      </div>
    </div>

    <div class="col-3 col-md-6 col-lg-3">
      <label for="patientSelect">Paciente</label>
      <p-dropdown id="patientSelect" [options]="filteredPatients" [(ngModel)]="selectedPatient" optionLabel="name"
        [filter]="true" filterBy="name,lastname,document" [showClear]="true" placeholder="Paciente"
        [style]="{ 'width': '100%', 'max-width': '100%' }" (onChange)="onPatienSelect($event)">
        <ng-template pTemplate="filter" let-options="options">
          <div class="flex gap-1">
            <div class="p-inputgroup" (click)="$event.stopPropagation()">
              <input type="text" pInputText placeholder="Filter" [(ngModel)]="filterValuePatien"
                (keyup)="customFilterPatien($event, options)" />
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="selectedItem" let-selectedOption>
          <div class="flex align-items-center gap-2">
            <div>{{ selectedOption.name }} {{ selectedOption.lastname }}</div>
          </div>
        </ng-template>
        <ng-template let-patient pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ patient.name }} {{ patient.lastname }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <div class="col-3 col-md-6 col-lg-3">
      <label for="statusSelect">Estado</label>
      <p-dropdown id="statusSelect" [options]="statuses" [(ngModel)]="selectedStatus" optionLabel="name"
        [filter]="false" placeholder="Estado" (onChange)="updateSelectedStatuses($event)">
      </p-dropdown>
      <div style="position: relative;" *ngIf="selectStatuses.length < 3">
        <span class="reset-data" (click)="resetState()">X</span>
      </div>
    </div>

    <div class="col-3 col-md-6 col-lg-3 d-md-flex d-lg-flex d-xl-flex align-items-end">
      <button (click)="downloadExcel()" class="export w-100">
        {{exportExcel}}
      </button>
    </div>
  </div>



  <p-table [value]="prescriptions" selectionMode="single" [paginator]="true" [rows]="size" [totalRecords]="totalRecords"
    [lazy]="true" (onLazyLoad)="loadPrescriptions($event)" [loading]="loading" [rowsPerPageOptions]="[5, 10, 25, 50]"
    [first]="currentFirstRow" class="custom-table">
    <ng-template pTemplate="header">
      <tr>
        <th>Código</th>
        <th>Paciente</th>
        <!--<th>Médico</th>-->
        <th>Medicamento</th>
        <!--<th>Vencimiento</th>-->
        <th>Estado</th>
        <!--<th>Farmacia</th>-->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-prescription>
      <tr (click)="openPrescription(prescription)">
        <td style="display: flex; align-items: center;">
          <!-- Icon on the left -->
          <div style="display: flex; flex-direction: column; align-items: center; margin-right: 1rem;">
            <i *ngIf="prescription.isChronic" class="pi pi-hourglass"></i>
          </div>

          <!-- Text on the right -->
          <div style="display: flex; flex-direction: column;">
            <span>{{ prescription.code }}</span>
            <span>{{ prescription.createdAt | date: 'yyyy-MM-dd' }}</span>
          </div>
        </td>
        <td>
          <span>{{ prescription.patientName }} {{ prescription.patientLastname }}</span>
          <span>CI {{prescription.patientDocument?.number}}</span>
        </td>
        <!--<td>
                    <span>{{ prescription.medicName }} {{ prescription.medicLastname }}</span>
                    <span>CJP {{ prescription.medicCjp }}</span>
                </td>-->
        <td>
          <span>{{ prescription.ampDsc }}</span>
          <span>{{ prescription.Laboratorio }}</span>
        </td>
        <!--<td>
                    <span>{{ prescription.expireAt }}</span>
                </td>-->
        <td style="width: 6.5rem;">
          <i class="dot" [ngClass]="{'warning': prescription.status === 'AVAILABLE', 
                                    'success': prescription.status === 'DISPENSED',
                                    'alert': prescription.status === 'PENDING'}"></i>
          <span style="display: inline-block;">{{ getStatusLabel(prescription.status) }}</span>
        </td>
        <!--<td>
                    <span *ngIf="prescription.status !== 'AVAILABLE'">{{ prescription.pharmacyName }}</span>
                    <span *ngIf="prescription.status !== 'AVAILABLE'">{{ prescription.updatedAt}}</span>
                </td>-->
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft" let-paginator>
      <div class="p-d-flex p-ai-center">
        Mostrando {{ 1 + pageable.offset }} -
        {{pageable.offset + numberOfElements}}
        de {{totalRecords}} items
      </div>
    </ng-template>
  </p-table>
</div>