mat-nav-list {
	h5 {
		text-align: center;
	}

	&:last-child {
		margin-top: calc(100vh - 30rem);
	}
}


p-dropdown {
	display: block;
}

input {
	width: 100%;
	border: 1px solid #e6e6e6;
	border-radius: 28px;
	height: 47px;

	button {
		background-color: transparent;
		color: #e6e6e6;
		border: none;
	}

	.p-inputtext {
		border-bottom: none;
		padding-left: 10px;
	}

}

p-calendar {
	display: block;
	height: auto;
	border-radius: 24px;
	border: 1px solid #e6e6e6;
}

::ng-deep {
	ul {
		padding-left: 0px;
	}

	p-table {
		tr {
			border-bottom: 1px solid rgba(0, 0, 0, 0.12);
		}
	}

	p-calendar {
		span {
			width: 100%;
		}

		input {
			background-color: transparent;
			border: none;
		}

		button {
			background-color: transparent;
			color: #545454;
			border: none;
		}
	}

	p-dropdown {
		.p-dropdown-clear-icon {
			background: #00b4b7;
			height: 21px;
			width: 21px;
			border-radius: 52px;
			top: 44%;
		}

		span {
			width: 100%;
		}

		&#statusSelect {
			div {
				min-height: 34px;
			}
		}

		div {
			background-color: transparent;
			border: none;

			p-dropdown-header {
				background-color: white;
			}
		}

		button {
			background-color: transparent;
			color: #e6e6e6;
			border: none;
		}

		.p-dropdown-items-wrapper {
			background-color: white;
		}
	}
}



p-dropdown {
	width: 100%;
	max-width: 100%;
	min-height: 43px;
	border-radius: 24px;
	background-color: transparent;
	border-color: #e6e6e6;

	border: 1px solid #e6e6e6;

	.p-dropdown {
		border: 1px solid #e6e6e6;
		border-radius: 24px;
	}

	.p-dropdown-clear-icon {
		background: #00b4b7;
		/* font-size: 27px; */
		height: 21px;
		width: 21px;
		border-radius: 52px;
		top: 44%;
	}

}


label {
	font-size: 10px;
	color: #333;
	font-weight: 500;
	margin-left: 4px;
	text-transform: uppercase;
	display: block;
}

table {
	width: 100%;
	margin-bottom: 20px;
	font-size: 13px;
}

button {
	margin-right: 8px;
	border: none;
	background-color: #f5f8fa;
	cursor: pointer;

	&:hover {
		transform: scale(1.2);
	}

	i {
		color: green;
		font-size: 4rem !important;
		background-color: none;
	}

	&.export {
		border: 1px solid #e6e6e6;
		max-width: 100px;
	}
}


.flex-container {
	display: flex;
	justify-content: space-between;
	gap: 16px;
	/* Adjust as needed */
}

.flex-item {
	//  flex: 1; /* This allows each item to grow and fill space equally */
	max-width: 33%;
	/* This makes each item take up approximately 4 columns out of 12 */
}

.card {
	padding: 16px;
	/* Adjust padding as needed */
}


span {
	display: block;

	&.reset-data {
		background-color: #00b4b7;
		color: #6b7280 !important;
		position: absolute;
		right: 39px;
		top: -33px;
		font-size: 20px;
		border-radius: 15px;
		padding: 0px;
		width: 26px;
		height: 26px;
		text-align: center;
	}
}

.content-table {
	padding: 5px;
	background-color: white;

}

.custom-table ::ng-deep {
	padding: 20px 0px 20px 0px;
	font-family: Hind, sans-serif;

	thead {
		tr {
			th {
				background-color: white;
				/* Change this to your desired color */
				font-weight: 600;
				font-size: 11px;
				text-transform: uppercase;
				color: #424242;
				padding: 10px 5px;
				font-family: Hind, sans-serif;
			}
		}
	}

	tbody {
		tr {
			td {
				font-family: Hind, sans-serif;
				font-size: 13px;
				font-weight: 400;
				padding: 5px 3px 5px 3px;
				min-width: 7rem;

				i {
					background-color: #ffc107;
					width: 8px !important;
					height: 8px !important;
					display: inline-block;
					border-radius: 50%;
					margin-right: 3px;

					&.success {
						background-color: #18cc6c;
					}

					&.alert {
						background-color: #7c7c7c;

					}

					&.dot {
						--bs-alert-padding-x: 0rem;
						--bs-alert-padding-y: 0rem;
						margin-bottom: 0px;
					}

				}

			}
		}
	}
}

.export-excel {
	color: #000000;
	cursor: pointer;
	font-weight: bold;
	height: 20px;
	padding-bottom: 2px;
	width: 75px;
}


span.p-calendar,
h2.p-calendar,
h5.p-calendar {
	width: 100%;
	border: 1px solid #e6e6e6;
	border-radius: 28px;
	height: 47px;
}

.pi-hourglass {
	background-color: transparent !important;
}


.content-table {
	// overflow-x: auto;
	padding: 0.5rem;

	@media (max-width: 767.98px) {
		.p-table {
			font-size: 0.85rem;
		}
	}

	@media (max-width: 575.98px) {

		.p-table th,
		.p-table td {
			padding: 0.4rem 0.3rem;
		}
	}
}


@media (max-width: 768px) {

	::ng-deep p-dropdown {
		width: 42px !important;
		max-width: 42px !important;
		min-height: auto !important;
		border-radius: 50% !important;
		background-color: transparent !important;
		border: none !important;

		.p-dropdown-label,
		.p-inputtext {
			display: none !important;
		}

		.p-dropdown-trigger {
			width: 100% !important;
			justify-content: center !important;
		}
	}

	::ng-deep {
		.p-paginator {
			display: block;
			text-align: center;
		}

		p-calendar {
			width: 42px !important;
			max-width: 42px !important;
			border-radius: 50% !important;
			border: none !important;

			.p-datepicker {
				transform-origin: inherit !important;
				top: 0px !important;
				left: 0px !important;
				width: 280px;
			}

			.p-inputtext {
				display: none !important;
			}

			.p-datepicker-trigger {
				width: 100% !important;
				justify-content: center !important;
			}

		}

		p-dropdown {
			.p-dropdown-clear-icon {
				left: 18px;
			}


			&#statusSelect {
				div {
					min-height: 0px;
				}
			}
		}

		span.reset-data {
			right: -10px !important;
			top: -27px !important;
		}
	}

	label {
		display: inline-block !important;
	}

	p-calendar {
		display: inline-block !important;
		width: auto !important;
		margin: -15px 0px;
	}

	p-dropdown {
		display: inline-block !important;
		width: auto !important;
	}

	.p-icon-wrapper {
		display: inline-block !important;
	}

}