<div [ngClass]="{'sidebar-wrapper': true, 'sidebar-hidden': isSidebarHidden}">
    <div class="sidebar-user" *ngIf="displayName">
        <i class="pi pi-shop"></i>
        <span>{{ displayName }}</span>
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fas fa-shop"></i> <span>Mis farmacias</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/perfil" routerLinkActive="active">
                <i class="fas fa-user"></i> <span>Mi Perfil</span>
            </a>
        </li>
        <!-- Spacer to push "Salir" to the bottom -->
        <li class="nav-item mt-auto">
            <a class="nav-link" (click)="logout()">
                <i class="fas fa-shield"></i> <span>Salir</span>
            </a>
        </li>
    </ul>
</div>
