<!-- src/app/pages/application/home/profile/profile.component.html -->
<div class="container_full mt-6">
  <div class="container">
    <div class="row">
      <div class="col-12 ml-auto">
        <div class="box_form">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">


            <!-- Name -->
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nombre">
              <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="text-danger">
                Nombre es requerido.
              </div>
            </div>

            <!-- Business Name -->
            <div class="form-group">
              <label for="businessName">Razón Social</label>
              <input type="text" class="form-control" id="businessName" formControlName="businessName"
                placeholder="Razón Social">
              <div *ngIf="registerForm.get('businessName')?.invalid && registerForm.get('businessName')?.touched"
                class="text-danger">
                Razón Social es requerida.
              </div>
            </div>

            <!-- Franchise -->
            <div class="form-group mb-2">
              <label for="franchise">Cadena</label>
              <p-dropdown [options]="franchises" formControlName="franchise" optionLabel="name" [filter]="true"
                filterBy="name" [showClear]="true" placeholder="Seleccione una cadena">
                <ng-template pTemplate="selectedItem" let-franchise>
                  <div class="flex align-items-center gap-2">
                    <div>{{ franchise?.name }}</div>
                  </div>
                </ng-template>
                <ng-template let-franchise pTemplate="item">
                  <div class="flex align-items-center gap-2">
                    <div>{{ franchise?.name }}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>

            <!-- RUT -->
            <div class="form-group">
              <label for="rut">RUT</label>
              <input type="text" class="form-control" id="rut" formControlName="rut" placeholder="RUT">
              <div *ngIf="registerForm.get('rut')?.invalid && registerForm.get('rut')?.touched" class="text-danger">
                RUT es requerido.
              </div>
            </div>

            <!-- Phone -->
            <div class="form-group">
              <label for="phone">Teléfono</label>
              <angular-phone-number-input formControlName="phone" [defaultCountry]="'UY'"
                [preferredCountries]="['UY', 'AR', 'CO', 'PE', 'MX']"
                [error]="registerForm.get('phone')?.touched && registerForm.get('phone')?.invalid">
              </angular-phone-number-input>
              <div *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched" class="text-danger">
                Número de teléfono inválido.
              </div>
            </div>

            <h3 class="mt-4">Dirección</h3>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="region">Departamento</label>
                <p-dropdown [options]="regions" formControlName="region" optionLabel="name" [filter]="true"
                  filterBy="name" [showClear]="true" placeholder="Seleccione un departamento"
                  (onChange)="onRegionChange('none')">
                  <ng-template pTemplate="selectedItem" let-region>
                    <div class="flex align-items-center gap-2">
                      <div>{{ region?.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-region pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <div>{{ region?.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>

              <div class="col-md-6 mb-3" *ngIf="localities.length > 0">
                <label for="locality">Localidad</label>
                <p-dropdown [options]="localities" formControlName="locality" optionLabel="name" [filter]="true"
                  filterBy="name" [showClear]="true" placeholder="Seleccione una localidad">
                  <ng-template pTemplate="selectedItem" let-locality>
                    <div class="flex align-items-center gap-2">
                      <div>{{ locality?.name }}</div>
                    </div>
                  </ng-template>
                  <ng-template let-locality pTemplate="item">
                    <div class="flex align-items-center gap-2">
                      <div>{{ locality?.name }}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="addressStreet">Calle</label>
                <input type="text" class="form-control" id="addressStreet" formControlName="addressStreet"
                  placeholder="Calle">
              </div>

              <div class="col-md-6 mb-3">
                <label for="addressNumber">Número</label>
                <input type="text" class="form-control" id="addressNumber" formControlName="addressNumber"
                  placeholder="Número">
              </div>
            </div>

            <div class="mb-3">
              <label for="addressComments">Datos adicionales</label>
              <textarea class="form-control" id="addressComments" formControlName="addressComments" rows="2"
                placeholder="Comentarios opcionales..."></textarea>
            </div>


            <hr> <!-- addresse separator -->

            <h3>Dirección técnica</h3>

            <!-- Manager Name -->
            <div class="form-group">
              <label for="managerName">Nombre</label>
              <input type="text" class="form-control" id="managerName" formControlName="managerName" placeholder="">
              <div *ngIf="registerForm.get('managerName')?.invalid && registerForm.get('managerName')?.touched"
                class="text-danger">
                Este campo es requerido.
              </div>
            </div>

            <!-- Manager Lastname -->
            <div class="form-group">
              <label for="managerLastname">Apellido</label>
              <input type="text" class="form-control" id="managerLastname" formControlName="managerLastname"
                placeholder="">
              <div *ngIf="registerForm.get('managerLastname')?.invalid && registerForm.get('managerLastname')?.touched"
                class="text-danger">
                Este campo es requerido.
              </div>
            </div>


            <div class="form-group mb-2">
              <label for="managerDocumentType">Documento de identidad</label>
              <select class="form-control" id="managerDocumentType" formControlName="managerDocumentType"
                (select)="'UY'" [disabled]="isEditMode">
                <option value="UY">Cédula UY</option>
                <option value="AR">Cédula AR</option>
                <option value="PASSPORT">Pasaporte</option>
                <option value="RUT">RUT</option>
                <option value="OTHER">Otro</option>
              </select>
              <div
                *ngIf="registerForm.get('managerDocumentType')?.invalid && registerForm.get('managerDocumentType')?.touched"
                class="text-danger">
                Tipo de documento es requerido.
              </div>
              <input type="text" class="form-control mt-2" formControlName="managerDocumentNumber"
                [disabled]="isEditMode" placeholder="Número de documento">
              <div
                *ngIf="registerForm.get('managerDocumentNumber')?.invalid && registerForm.get('managerDocumentNumber')?.touched"
                class="text-danger">
                Ingrese su documento con digito identificador.
              </div>
              <div *ngIf="registerForm.errors?.['invalidDocument']" class="text-danger">
                Documento inválido según las reglas de validación.
              </div>
            </div>


            <!-- Manager CJPPU -->
            <div class="form-group">
              <label for="managerCJP">CJPPU</label>
              <input type="text" class="form-control" id="managerCJP" formControlName="managerCJP"
                placeholder="CJP del Encargado">
              <div *ngIf="registerForm.get('managerCJP')?.invalid && registerForm.get('managerCJP')?.touched"
                class="text-danger">
                Este campo es requerido.
              </div>
            </div>


            <hr> <!-- access separator -->

            <h3>Datos de acceso</h3>



            <!-- Email -->
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
              <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid" class="text-danger">
                <span *ngIf="registerForm.get('email')?.errors?.['required']">Email es requerido.</span>
                <span *ngIf="registerForm.get('email')?.errors?.['emailExists']">Email ya está registrado.</span>
              </div>
            </div>

            <!-- Botones -->
            <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-light" (click)="redirectToAdd()">Cancelar</button>
              <button type="submit" class="btn btn-success" [disabled]="!registerForm.valid">Guardar</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Feedback dialog (opcional) -->
<p-dialog [(visible)]="visibleRegister" [modal]="true" [closable]="true" [dismissableMask]="true"
  [style]="{width:'380px'}">
  <ng-template pTemplate="header">Información</ng-template>
  <ng-template pTemplate="content">
    <p>{{ messageRegister }}</p>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton type="button" label="Cerrar" (click)="visibleRegister=false"></button>
  </ng-template>
</p-dialog>