.modal-content {
    padding: 20px;
}

.form-label {
    font-weight: 500;
}

.btn {
    min-width: 120px;
}

label, .text-danger {
    font-size: 13px;
    font-weight: 500;
}

h3 {
    margin-top: 19px;
    font-size: 16px;
}
*, ::after, ::before  {
    font-size: 13px;
}

::ng-deep  .p-dialog .p-dialog-content {
    padding: 0;
}