<hr>
<div class="modal-content pt-0">
    <div class="modal-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <!-- Name Field -->
            <div class="form-group mb-0">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nombre">
                <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="text-danger">
                    Nombre es requerido.
                </div>
            </div>

            <!-- Lastname Field -->
            <div class="form-group mb-2">
                <label for="lastname">Apellido</label>
                <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="Apellido">
                <div *ngIf="registerForm.get('lastname')?.invalid && registerForm.get('lastname')?.touched"
                    class="text-danger">
                    Apellido es requerido.
                </div>
            </div>

            <!-- ID Type and Number Field -->

            <div class="form-group mb-2">
                <label for="idType">Documento de identidad</label>
                <select class="form-control" id="idType" formControlName="idType" (select)="'UY'" [disabled]="isEditMode"
                    (change)="validatePatientExists()">
                    <option value="UY">Cédula UY</option>
                    <option value="AR">Cédula AR</option>
                    <option value="PASSPORT">Pasaporte</option>
                    <option value="RUT">RUT</option>
                    <option value="OTHER">Otro</option>
                </select>
                <div *ngIf="registerForm.get('idType')?.invalid && registerForm.get('idType')?.touched"
                    class="text-danger">
                    Tipo de documento es requerido.
                </div>
                <input type="text" class="form-control mt-2" formControlName="idNumber" [disabled]="isEditMode"
                    placeholder="Número de documento" (blur)="validatePatientExists()">
                <div *ngIf="registerForm.get('idNumber')?.invalid && registerForm.get('idNumber')?.touched"
                    class="text-danger">
                    Ingrese su documento con digito identificador.
                </div>
                <div *ngIf="registerForm.errors?.['invalidDocument']" class="text-danger">
                    Documento inválido según las reglas de validación.
                </div>
                <div *ngIf="registerForm.errors?.['patientExists']" class="text-danger">
                    A patient with the provided document number and type already exists.
                    <button type="button" class="btn btn-secondary" (click)="selectUser()">
                        ¿Selecciona esta usuario?
                    </button>
                </div>

            </div>

            <!-- Phone Number Field using ngx-material-intl-tel-input -->
            <div class="form-group mb-3">
                <label for="phone">Teléfono</label>
                <angular-phone-number-input formControlName="phone" [defaultCountry]="'UY'" [preferredCountries]="[
                  'US', 'CA', 'MX', 'AR', 'BR', 'CL', 'CO', 'PE', 'VE', 'UY', 'PY', 'EC', 'BO', 'CR', 'DO', 
                  'PA', 'GT', 'HN', 'SV', 'NI', 'JM', 'HT', 'BZ', 'CU', 'GY', 'SR', 'BS', 'BB', 'TT', 'AI',
                  'AG', 'VC', 'LC', 'GD', 'DM', 'KN', 'VG', 'VI', 'KY'
                ]"
                    [error]="registerForm.get('phone')?.touched && registerForm.get('phone')?.invalid"></angular-phone-number-input>
                <div *ngIf="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched"
                    class="text-danger">
                    Este campo no es válido.
                </div>
            </div>

            <p-accordion>
                <p-accordionTab header="Datos adicionales">
                    <!-- Email Field -->
                    <div class="form-group mb-2">
                        <label for="email">Email (opcional)</label>
                        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
                        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
                            class="text-danger">
                            <span *ngIf="registerForm.get('email')?.errors?.['required']">Email es requerido.</span>
                            <span *ngIf="registerForm.get('email')?.errors?.['emailExists']">Email ya está
                                registrado.</span>
                        </div>
                    </div>

                    <div class="form-group mb-2">
                        <label for="sex">Sexo (opcional)</label>
                        <select class="form-control" id="sex" formControlName="sex" (select)="'UY'">
                            <option value="MALE">Masculino</option>
                            <option value="FEMALE">Femenino</option>
                            <option value="UNKNOWN">Desconocido</option>
                            <option value="NO_APPLY">No aplica</option>
                        </select>
                        <div *ngIf="registerForm.get('sex')?.invalid && registerForm.get('sex')?.touched"
                            class="text-danger">
                            Tipo de documento es requerido.
                        </div>
                    </div>
                    <!-- Birth Date Field using PrimeNG Calendar -->
                    <div class="form-group mb-2">
                        <label for="birthDate">Fecha de nacimiento</label>
                        <p-calendar formControlName="birthDate" [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
                        <div *ngIf="registerForm.get('birthDate')?.invalid && registerForm.get('birthDate')?.touched"
                            class="text-danger">
                            La fecha de nacimiento es requerido.
                        </div>
                    </div>
                    <h3>Dirección de residencia</h3>
                    <div class="form-group mb-2">
                        <label for="addres">Calle</label>
                        <input type="text" class="form-control" id="addres" formControlName="addres"
                            placeholder="">
                        <div *ngIf="registerForm.get('addres')?.invalid && registerForm.get('addres')?.touched"
                            class="text-danger">
                            Nombre es requerido.
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="numberAddres">Número</label>
                        <input type="text" class="form-control" id="numberAddres" formControlName="numberAddres"
                            placeholder="">
                        <div *ngIf="registerForm.get('numberAddres')?.invalid && registerForm.get('numberAddres')?.touched"
                            class="text-danger">
                            Nombre es requerido.
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label for="infoAditional">Datos adicionales</label>
                        <input type="text" class="form-control" id="infoAditional" formControlName="infoAditional"
                            placeholder="">
                        <div *ngIf="registerForm.get('infoAditional')?.invalid && registerForm.get('infoAditional')?.touched"
                            class="text-danger">
                            Nombre es requerido.
                        </div>
                    </div>


                    <!-- Region Dropdown -->
                    <div class="form-group mb-2">
                        <label for="region">Seleccionar Región</label>
                        <p-dropdown [options]="regions" formControlName="region" optionLabel="name" [filter]="true"
                            filterBy="name" [showClear]="true" placeholder=""
                            (onChange)="onRegionChange()">
                            <ng-template pTemplate="selectedItem" let-region>
                                <div class="flex align-items-center gap-2">
                                    <div>{{ region?.name }}</div>
                                </div>
                            </ng-template>
                            <ng-template let-region pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ region?.name }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>

                    <!-- Locality Dropdown -->
                    <div class="form-group mb-2" *ngIf="localities.length > 0">
                        <label for="locality">Seleccionar Localidad</label>
                        <p-dropdown [options]="localities" formControlName="locality" optionLabel="name" [filter]="true"
                            filterBy="name" [showClear]="true" placeholder="">
                            <ng-template pTemplate="selectedItem" let-locality>
                                <div class="flex align-items-center gap-2">
                                    <div>{{ locality?.name }}</div>
                                </div>
                            </ng-template>
                            <ng-template let-locality pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <div>{{ locality?.name }}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>

                </p-accordionTab>
            </p-accordion>
            <div class="d-flex justify-content-between mt-3">
                <button type="button" class="btn btn-light" (click)="onCancel()">
                    Cancelar
                </button>
                <button type="submit" class="btn btn-success">
                    {{actionFrom}}
                </button>
            </div>
        </form>
    </div>
</div>