@import '../../../../../scss/variable';

section {
    padding: 50px 0px;
    background-color: $color_one;

    h1,
    h5,
    h3 {
        font-size: 1.25rem;
    }

    p,
    span,
    a,
    ul,
    li {
        color: $cool_four;
        font-weight: 400;
        line-height: 30px;
        font-size: 16px;
    }
}