@import '../../../../../scss/variable';

nav {
    padding: 0px;
    background-color: $color_eight;
    .container-fluid {
        width: 80%;
        .navbar-brand {
            color: $color_two;
            font-size: 16px;
        }        
        ul {
            background-color: $color_two;
            .nav-link {
                font-size: 16px;
                color: $color_eight;
                i {
                    font-size: 16px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.themeix-header-navigation {
    .bg-color {
        background-color: $color_two;
    }
    .themeix-menu {
        background-color: $color_two;
        
    }
    img {
        vertical-align: middle;
        transform: scale(0.8) !important;
    }
    ul {
        padding-left: 0px;
        margin-top: 36px;
        background-color: $color_two;
        li {
            margin-right: 2rem;
            display: inline-block;
            a {
                text-decoration: none;
                color: black;
                &:hover {
                    color: $color_eight;
                }
            }
        }
    }
}