<div class="card">
  <div class="card-header text-center">
    <div class="row">
      <div class="col-12">
        <img src="../../../assets/images/logos/logo.png" alt="">
      </div>
      <div class="col-12">
        <h3>Ingreso de Farmacias</h3>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="ngForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <!--<label for="username" class="form-label">Ingrese su email</label>-->
        <input type="text" class="form-control" id="username" placeholder="Ingrese su email" formControlName="username">
        <div *ngIf="usernameControl.touched && usernameControl.invalid" class="text-danger">
          <p>Email es necesario!!</p>
        </div>
      </div>
      <div class="mb-1">
        <!--<label for="password" class="form-label">Ingrese su contraseña</label>-->
        <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña" formControlName="password">
        <div *ngIf="passwordControl.touched && passwordControl.invalid" class="text-danger">
          <p>Password es necesario!!</p>
        </div>
      </div>

      <div *ngIf="error" class="text-danger mb-1">
        {{ error }}
      </div>

      <div class="row mb-1">
        <div class="col-12">
          <a routerLink="/login/forgot-password" style="font-size: 14px;">Olvidé mi contraseña</a>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
        <div class="col-12">
          <h4>¿Todavía no tenés una cuenta?</h4>
        </div>
        <div class="col-12">
          <a routerLink="/register" style="font-size: 14px;">Registrate ahora!</a>
        </div>
      </div>
    </form>
  </div>
</div>
