<!-- Medicine Search Card -->
<div *ngIf="!selectedMedicine" class="card">
    <!--<div class="card-header">
        <h5 class="card-title">Buscar medicamento</h5>
    </div>-->
    <div class="card-body">

        <div>
            <p>Busque por nombre y/o principio activo</p>
            <div class="input-group" style="width: 100%;">
                <input type="text" class="form-control" placeholder="Enter medicine name..." [(ngModel)]="searchQuery"
                    (input)="onSearchChange()" />
                <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <div *ngIf="medicines?.length">
                <div class="option-subtitle">MEDICAMENTOS COMERCIALES
                </div>

                @for(medicine of medicines; track medicine.id) {
                @if (medicine.name) {

                <div *ngIf="medicine.labName != null" class="item border-bottom py-2"
                    (click)="onMedicineSelect(medicine)" [ngClass]="{
    'back_green': (medicine.condvtaId ?? 0) == 11,
    'back_orange': (medicine.condvtaId ?? 0) == 12
  }">
                    <div>
                        <span class="text-secondary">{{ medicine.labName }}</span>
                        <strong>{{ medicine.name }}</strong>
                        <br />
                        <span class="text-secondary">{{ medicine.substanceName }}</span>
                    </div>
                </div>
                }
                }

                @if(showGeneric) {
                <div class="option-subtitle">MEDICAMENTOS GENERICOS</div>

									@for(medicine of medicines; track medicine.id) {
										@if (medicine.name) {

										<div *ngIf="medicine.labName == null" class="item border-bottom py-2"
												(click)="onMedicineSelect(medicine)">
												<div>
														<strong>{{ medicine.name }}</strong>
														<br />
														<span class="text-secondary">{{ medicine.substanceName }}</span>
												</div>
										</div>
										}
									}
                }

            </div>
            <div *ngIf="!medicines?.length && searchQuery">
                <p class="text-muted">No medicines found for the given query.</p>
            </div>
        </div>
    </div>
</div>

<!-- Medicine Details Form Card -->
<div *ngIf="selectedMedicine" class="card">
    <!--<div class="card-header">
        <h5 class="card-title">Buscar medicamento</h5>
         <h5 class="card-title">{{ selectedMedicine.prodMsp }}</h5>
    </div>-->
    <div class="card-body">
        <div class="form-check mb-3">
            <input type="checkbox" id="chronic" class="form-check-input" [(ngModel)]="isChronic"
                (click)="isChronicChange()" style="font-size: 20px;"/>
            <label for="chronic" class="form-check-label">Crónico</label>
        </div>
        <div class="mb-3">
            <div class="mb-3">
                <h6>{{ selectedMedicine.name | uppercase}}</h6>
                <div class="text-primary mb-0">
                    <small>{{ selectedMedicine.substanceName }}</small>
                </div>

                <!--<p>ibuprofeno</p>-->
            </div>
        </div>
        <form>
            <div class="row">
                <div class="col-3">
                    <label for="dose" class="form-label">Indicaciones</label>
                    <input type="number" id="dose" class="form-control" placeholder="Enter dosage" [(ngModel)]="dosage"
                        name="dose" min="0.5" step="0.5" (change)="validateDosage()" style="width: 100%;"/>
                </div>
                <div class="col-7" style="padding-top: 48px;">
                    <p>{{ selectedMedicine.dosificationUnit }}</p>
                </div>
            </div>
            <!--<div class="row mb-3">
                <div class="col s12">
                    <small class="form-text text-muted">**Para fraccionar ingrese decimales. Ej: 1 comp y medio =
                        1.5</small>
                </div>
            </div>-->
            <div class="mb-3">
                <label for="frequency" class="form-label">Frecuencia</label>
                <div class="input-group">
                    <input type="number" id="frequency" class="form-control" placeholder="Enter frequency"
                        [(ngModel)]="frequency" name="frequency" min="1" (change)="validateFrequency()" />
                    <select class="form-select" [(ngModel)]="frequencyUnit" name="frequencyUnit">
                        <option value="HOUR">Horas</option>
                        <option value="DAYS">Dias</option>
                        <option value="WEEK">Semanas</option>
                    </select>
                </div>
            </div>

            <div class="mb-3">
                <label for="duration" class="form-label">{{ isChronic ? 'hasta' : 'Duración' }}</label>
                <div class="input-group">
                    <input type="number" id="duration" class="form-control" placeholder="Enter duration"
                        [(ngModel)]="duration" name="duration" min="1" (change)="validateDuration()" />
                    <select class="form-select" [(ngModel)]="durationUnit" name="durationUnit">
                        <option *ngIf="!isChronic" value="HOUR">Horas</option>
                        <option *ngIf="!isChronic" value="DAYS">Días</option>
                        <option *ngIf="!isChronic" value="WEEK">Semanas</option>
                        <option *ngIf="isChronic" value="Meses">Meses</option>
                    </select>
                </div>
            </div>

            <p-accordion>
                <p-accordionTab header="Datos adicionales">
                    <div class="mb-3">
                        <label for="affections" class="form-label">Afecciones</label>
                        <textarea id="affections" class="form-control" placeholder=""
                            [(ngModel)]="affections" name="affections"></textarea>
                        <span>(opcional)</span>
                    </div>

                    <div class="mb-3">
                        <label for="medicalHistory" class="form-label">Antecedentes</label>
                        <textarea id="medicalHistory" class="form-control"
                            placeholder="" [(ngModel)]="medicalHistory"
                            name="medicalHistory"></textarea>
                        <span>(opcional)</span>
                    </div>

                    <!--<div class="mb-3">
                        <label for="date" class="form-label">Fecha límite para dispensar</label>
                        <p-calendar [(ngModel)]="date" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"
                            dateFormat="dd/mm/yy" name="date"></p-calendar>
                        <span>(opcional)</span>
                    </div>-->
                </p-accordionTab>
            </p-accordion>



            <button class="btn btn-success float-end mt-3" (click)="submitPrescription()">Agregar</button>
            <!--<button class="btn btn-secondary" (click)="resetSelection()">Back</button>-->
        </form>
    </div>
</div>