.card {
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.card-body {
    padding: 5px;
}

.item {
    cursor: pointer;
    transition: background-color 0.3s;
}

.item:hover {
    background-color: #f1f1f1;
}

.btn {
    margin-right: 10px;
}


.form-control, .input-group {
    width: 50%;
    select {
        width: 50%;
        background-color: #f3f3f3;
    }
}

textarea {
    width: 100% !important;
}

span {
    display: block;
}

strong {
    font-weight: 500;
}

.option-subtitle {
    padding: 8px;
    font-size: 11px;
    color: #fff;
    background-color: #00b3b6;
}

::ng-deep .p-dialog .p-dialog-content {
    padding: 0 0.5rem 2rem 0.5rem;
}


.input-group > .form-control, .input-group > .form-floating, .input-group > .form-select {
    flex: 1 1;
}
