<div class="container mt-4">
  <h4>Mis farmacias</h4>
  <p-table [value]="pharmacies" [loading]="loading" [paginator]="pharmacies.length > 10" [rows]="10">
    <ng-template pTemplate="header">
      <tr><th>Farmacia</th><th>RUT</th><th>Estado</th><th></th></tr>
    </ng-template>
    <ng-template pTemplate="body" let-p>
      <tr class="cursor-pointer" (click)="open(p)">
        <td>{{ p.name }}</td><td>{{ p.rut }}</td><td>{{ p.status }}</td>
        <td><button class="btn btn-success btn-sm">Ver recetas verdes</button></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage"><tr><td colspan="4">No hay farmacias asignadas a tu CJP.</td></tr></ng-template>
  </p-table>
</div>
