// Color
$primary-color: #f5f8fa;
$color_one: #f5f8fa;
$color_two: white;
$color_three: #3498db;
$cool_four: #555;
$color_five: #e2e8f0;
$color_six: #616161;
$color_seven: 0 0 30px 0 rgba(0, 0, 0, .3);
$color_eight: #2EA1B1;
$color_ten: #212832;
$color_eleven: #1c222a;