<div class="card">
  <div class="card-header text-center">
    <div class="row">
      <div class="col-12">
        <img src="../../../assets/images/logos/logo.png" alt="">
      </div>
      <div class="col-12">
        <h3>Recuperar contraseña</h3>
      </div>
    </div>
  </div>

  @if(hasCode) {
  <div class="card-body">
    <form [formGroup]="registerForm" [formGroup]="registerForm" (ngSubmit)="onResetSubmit()">

      <!-- Password Field -->
      <div class="form-group">
        <label for="password">Contraseña</label>
        <p-password formControlName="password" id="password" placeholder="Contraseña" [toggleMask]="true"></p-password>
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
          Contraseña es requerido (min 8 characters).
        </div>
      </div>

      <!-- Confirm Password Field -->
      <div class="form-group mt-3">
        <label for="passwordConfirm">Confirmar contraseña</label>
        <p-password formControlName="passwordConfirm" id="passwordConfirm" placeholder="Confirmar contraseña"
          [toggleMask]="true"></p-password>
        <div *ngIf="registerForm.hasError('mismatch') && registerForm.get('passwordConfirm')?.touched"
          class="text-danger">
          Contraseña no coincide.
        </div>
      </div>

      <div class="mt-3" style="text-align: center;">
        <button type="submit" class="btn btn-success" [disabled]="!registerForm.valid">Cambiar contraseña</button>
      </div>
    </form>
  </div>
  } @else {
  @if(!sendRequestReset) {
  <div class="card-body">
    <form [formGroup]="ngForm" (ngSubmit)="onSubmit()">
      <div class="mb-1">
        <label for="username" class="form-label">Ingresá tu email para recuperar la contraseña</label>
        <input type="text" class="form-control" id="username" placeholder="Email" formControlName="username">
        <div *ngIf="usernameControl.touched && usernameControl.invalid" class="text-danger">
          <p>Email es necesario!!</p>
        </div>
      </div>
      <div *ngIf="error" class="text-danger mb-1">
        {{ error }}
      </div>
      <div class="row text-center">
        <div class="col-6">
          <button class="btn btn-light" (click)="cancel()">Cancelar</button>
        </div>
        <div class="col-6">
          <button type="submit" class="btn btn-primary">Continuiar</button>
        </div>
      </div>
    </form>
  </div>
  } @else {
  <div class="card-body">
    <form [formGroup]="ngForm" (ngSubmit)="onSubmit()">
      <div class="mb-1">
        <label for="username" class="form-label">Te hemos enviado un correo con las instrucciones para reestablecer tu
          contraseña.</label>
      </div>
      <div *ngIf="error" class="text-danger mb-1">
        {{ error }}
      </div>
      <div class="row text-center">
        <div class="col-12">
          <button class="btn btn-light" (click)="cancel()">Ir a login</button>
        </div>
      </div>
    </form>
  </div>
  }
  }
</div>